@model IEnumerable<MedImgDBMS.Models.image>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Medical Image List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Image Name")
        </th>
        <th>
            @Html.DisplayName("Patient Name")
        </th>
        <th>
            @Html.DisplayName("Create Time")
        </th>
        <th>
            @Html.DisplayName("Image Status")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (Session["UserRole"].ToString() == "2")
                {
                    @Html.ActionLink(@Html.DisplayFor(modelItem => item.ImgName).ToString(), "DocImageView", new { id = item.ImgID });
                }
                @if (Session["UserRole"].ToString() == "3")
                {
                    @Html.ActionLink(@Html.DisplayFor(modelItem => item.ImgName).ToString(), "ExpImageView", new { id = item.ImgID });
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.patient.PatFName) @Html.DisplayFor(modelItem => item.patient.PatLName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImgCreateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imagestatu.ImgStatusName)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ImgID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ImgID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ImgID })
                </td>*@
        </tr>
    }

</table>
