@model MedImgDBMS.Models.patient

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>patient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PatLName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatLName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatFName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatFName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PatID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
