@model MedImgDBMS.Models.image

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string path = ViewBag.link;
}

<h2>Image Deletion</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ImgPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImgPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImgName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImgName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImgCreateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImgCreateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagestatu.ImgStatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagestatu.ImgStatusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.patient.PatLName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patient.PatLName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.patient.PatFName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patient.PatFName)
        </dd>

        <dt>
            @Html.DisplayName("Creator Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Createuser.UserFName) @Html.DisplayFor(model => model.Createuser.UserLName)
        </dd>

        <dt>
            @Html.DisplayName("Doctor Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Docuser.UserFName) @Html.DisplayFor(model => model.Docuser.UserLName)
        </dd>

        <dt>
            @Html.DisplayName("Stomatologist Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expuser.UserFName) @Html.DisplayFor(model => model.Expuser.UserLName)
        </dd>
    </dl>
    <br />
    <div>
        <img src="@Url.Content(@path)" class= "img-deleteview" />
    </div>
    <br />
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div style="margin-left: 50px;">
            <input type="submit" value="Delete" class="btn btn-primary" onclick="return confirm('Are you sure?')" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
