@model MedImgDBMS.Models.image

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>image</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ImgPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImgPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImgName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImgName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImgCreateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImgCreateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagestatu.ImgStatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagestatu.ImgStatusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.patient.PatLName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patient.PatLName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reportstatu.RepStatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reportstatu.RepStatusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Createuser.UserLName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Createuser.UserLName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Docuser.UserLName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Docuser.UserLName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expuser.UserLName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expuser.UserLName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ImgID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
