@model MedImgDBMS.ViewModels.ImgRepCmtViewModels

@{
    ViewBag.Title = "Administrator Image View";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string path = ViewBag.link;
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @Html.DisplayFor(model => model.Image.ImgName).ToString().ToUpper()
                <small>@Url.Content(@path)</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Admin")
                </li>
                <li class="active">
                    @Html.DisplayFor(model => model.Image.ImgName).ToString().ToUpper()
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <img src="@Url.Content(@path)" alt="IMAGES" class="img-responsive" />
        </div>
        <div class="col-md-4">
            <h3 style="margin-left: 0; margin-top: 0; margin-bottom: 5px;"><b><u>Patient</u></b></h3>
            <p class="pat-name">@Html.DisplayFor(model => model.Image.patient.PatFName) @Html.DisplayFor(model => model.Image.patient.PatLName)</p>
            <p><b>@Html.DisplayNameFor(model => model.Image.patient.DOB)</b>&nbsp @Html.DisplayFor(model => model.Image.patient.DOB, "{0:dd/MM/yyyy}")</p>
            <p><b>@Html.DisplayNameFor(model => model.Image.patient.Gender)</b>&nbsp @Html.DisplayFor(model => model.Image.patient.Gender)</p>
            <hr />
            <dl class="dl-horizontal-view">
                <dt>@Html.DisplayNameFor(model => model.Image.ImgPath)</dt>
                <dd class="clearfix">@Html.DisplayFor(model => model.Image.ImgPath)</dd>

                <dt>@Html.DisplayNameFor(model => model.Image.ImgName)</dt>
                <dd class="clearfix">@Html.DisplayFor(model => model.Image.ImgName)</dd>

                <dt>@Html.DisplayName("Image Status:")</dt>
                <dd class="clearfix">@Html.DisplayFor(model => model.Image.imagestatu.ImgStatusName)</dd>

                <dt>@Html.DisplayName("Image Creator:")</dt>
                <dd class="clearfix">@Html.DisplayFor(model => model.Image.Createuser.UserFName) @Html.DisplayFor(model => model.Image.Createuser.UserLName)</dd>

                <dt>@Html.DisplayName("Doctor:")</dt>
                <dd class="clearfix">@Html.DisplayFor(model => model.Image.Docuser.UserFName) @Html.DisplayFor(model => model.Image.Docuser.UserLName)</dd>

                <dt>@Html.DisplayName("Stomatologist:")</dt>
                <dd class="clearfix">@Html.DisplayFor(model => model.Image.Expuser.UserFName) @Html.DisplayFor(model => model.Image.Expuser.UserLName)</dd>
            </dl>
            <hr />
            @if (Model.Report != null)
            {
                <label>Report:</label>
                <br />
                <p>@Html.DisplayFor(model => model.Report.RepText)</p>
                <hr />
            }
            @if (Model.Comment != null)
            {
                
                <label>Doctor Comment:</label>
                <br />
                <p>@Html.DisplayFor(model => model.Comment.CmtText)</p>
                <hr />
            }
            <button class="btn btn-primary" onclick="location.href='@Url.Action("Edit", "Admin", new {id = Model.Image.ImgID, page = ViewBag.Page, sortOrder = ViewBag.Order, currentFilter = ViewBag.Filter, preColumn = ViewBag.PreColumn })'">Edit</button> |
            @Html.ActionLink("Back to List", "Index", new { page = ViewBag.Page, sortOrder = ViewBag.Order, currentFilter = ViewBag.Filter, preColumn = ViewBag.PreColumn })
        </div>
    </div>
</div>