@model PagedList.IPagedList<MedImgDBMS.Models.image>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SelectList searchCol = ViewBag.SearchCol;
    SelectList statList = ViewBag.StatList;
    string preCol = ViewBag.PreColumn;
}

@section CustomScripts
{
    <script type="text/javascript">
        function ShowHide() {
            if ($('#preColumn').val() == "3") {
                $('#statusString').show();      // show dropdown list
                $('#searchString').hide();      // hide text area
                $('#searchString').val('');     // reset the text area value
            }
            else {
                $('#statusString').hide();      // hide dropdown list
                $('#searchString').show();      // show text area
                $('#statusString').val('All');  // reset the dropdown list value
            }
        }
    </script>
}


<h2>Medical Image List</h2>
<div class="container-list">
    <hr />
    @using (Html.BeginForm("index", "DocExp", FormMethod.Get))
    {
        <p>
            @Html.DropDownList("preColumn", searchCol, new { onchange = "ShowHide()" })
            @if (preCol == "3")
            {
                @Html.DropDownList("statusString", statList)
                @Html.TextBox("searchString", "", new { style = "display:none;" })
            }
            else
            {
                @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
                @Html.DropDownList("statusString", statList, new { style = "display:none;" })
            }
            <input type="submit" value="Search" />
        </p>
    }

    <table class="table">
        <tr>
            <th style="width: 20%">
                @Html.DisplayName("Image Name")
            </th>
            <th style="width: 20%">
                @Html.ActionLink("Patient FirstName", "Index", new { sortOrder = ViewBag.PatFSortParm, currentFilter = ViewBag.CurrentFilter, preColumn = preCol })
            </th>
            <th style="width: 20%">
                @Html.ActionLink("Patient LastName", "Index", new { sortOrder = ViewBag.PatLSortParm, currentFilter = ViewBag.CurrentFilter, preColumn = preCol })
            </th>
            <th style="width: 20%">
                @Html.ActionLink("Create Time", "Index", new { sortOrder = ViewBag.TimeSortParm, currentFilter = ViewBag.CurrentFilter, preColumn = preCol })
            </th>
            <th style="width: 20%">
                @Html.ActionLink("Image Status", "Index", new { sortOrder = ViewBag.StatSortParm, currentFilter = ViewBag.CurrentFilter, preColumn = preCol })
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="width: 20%">
                    @if (Session["UserRole"].ToString() == "2")
                    {
                        @Html.ActionLink(@Html.DisplayFor(modelItem => item.ImgName).ToString(), "DocImageView", new { id = item.ImgID, page = ViewBag.Page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, preColumn = preCol });
                    }
                    @if (Session["UserRole"].ToString() == "3")
                    {
                        @Html.ActionLink(@Html.DisplayFor(modelItem => item.ImgName).ToString(), "ExpImageView", new { id = item.ImgID, page = ViewBag.Page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, preColumn = preCol });
                    }
                </td>
                <td style="width: 20%">
                    @Html.DisplayFor(modelItem => item.patient.PatFName)
                </td>
                <td style="width: 20%">
                    @Html.DisplayFor(modelItem => item.patient.PatLName)
                </td>
                <td style="width: 20%">
                    @Html.DisplayFor(modelItem => item.ImgCreateTime, "{0:dd/MM/yyyy HH:mm:ss}")
                </td>
                <td style="width: 20%">
                    @Html.DisplayFor(modelItem => item.imagestatu.ImgStatusName)
                </td>
                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ImgID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ImgID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ImgID })
                    </td>*@
            </tr>
        }

    </table>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, preColumn = preCol }))
</div>